In [1]:
# To-Do: create a virtual environement called myenv
!python -m venv myenv2

In [2]:
# Activate the environement 
! myenv2\Scripts\activate.bat

In [3]:
!python -m ipykernel install --user --name=myenv2

Installed kernelspec myenv2 in C:\Users\Lenovo\AppData\Roaming\jupyter\kernels\myenv2

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from scipy import stats
import numpy as np

In [5]:
df = pd.read_csv("food-allergy-analysis-Zenodo.csv")

In [6]:
df

,SUBJECT_ID,BIRTH_YEAR,GENDER_FACTOR,RACE_FACTOR,ETHNICITY_FACTOR,PAYER_FACTOR,ATOPIC_MARCH_COHORT,AGE_START_YEARS,AGE_END_YEARS,SHELLFISH_ALG_START,...,CASHEW_ALG_END,ATOPIC_DERM_START,ATOPIC_DERM_END,ALLERGIC_RHINITIS_START,ALLERGIC_RHINITIS_END,ASTHMA_START,ASTHMA_END,FIRST_ASTHMARX,LAST_ASTHMARX,NUM_ASTHMARX
0,1,2006,S1 - Female,R1 - Black,E0 - Non-Hispanic,P1 - Medicaid,False,0.093087,3.164956,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1994,S1 - Female,R0 - White,E0 - Non-Hispanic,P0 - Non-Medicaid,False,12.232717,18.880219,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.262834,18.880219,2.0
2,3,2006,S0 - Male,R0 - White,E1 - Hispanic,P0 - Non-Medicaid,True,0.010951,6.726899,NaN,...,NaN,4.884326,NaN,3.917864,6.157426,5.127995,NaN,1.404517,6.157426,4.0
3,4,2004,S0 - Male,R4 - Unknown,E1 - Hispanic,P0 - Non-Medicaid,False,2.398357,9.111567,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2006,S1 - Female,R1 - Black,E0 - Non-Hispanic,P0 - Non-Medicaid,False,0.013689,6.193018,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333195,333196,2006,S0 - Male,R0 - White,E0 - Non-Hispanic,P0 - Non-Medicaid,False,0.736482,7.449692,NaN,...,NaN,0.736482,NaN,NaN,NaN,5.426420,7.449692,NaN,NaN,NaN
333196,333197,2006,S1 - Female,R1 - Black,E0 - Non-Hispanic,P1 - Medicaid,True,0.019165,6.984257,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333197,333198,2006,S0 - Male,R0 - White,E0 - Non-Hispanic,P0 - Non-Medicaid,False,0.443532,7.405886,NaN,...,NaN,NaN,NaN,NaN,NaN,2.321697,NaN,2.321697,6.650240,4.0
333198,333199,2006,S0 - Male,R3 - Other,E0 - Non-Hispanic,P0 - Non-Medicaid,True,0.013689,7.017112,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333199,333200,2006,S1 - Female,R0 - White,E0 - Non-Hispanic,P0 - Non-Medicaid,False,0.019165,3.014374,NaN,...,NaN,0.347707,0.347707,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:

#newdf contains only the numerical column of df
#convert categorical data into numerical one
newdf=pd.get_dummies(df, columns=["GENDER_FACTOR", "RACE_FACTOR","ETHNICITY_FACTOR","PAYER_FACTOR","ATOPIC_MARCH_COHORT"], prefix=["GENDER", "RACE","ETHNICITY","PAYER","ATOPIC"])

newdf

,SUBJECT_ID,BIRTH_YEAR,AGE_START_YEARS,AGE_END_YEARS,SHELLFISH_ALG_START,SHELLFISH_ALG_END,FISH_ALG_START,FISH_ALG_END,MILK_ALG_START,MILK_ALG_END,...,RACE_R1 - Black,RACE_R2 - Asian or Pacific Islander,RACE_R3 - Other,RACE_R4 - Unknown,ETHNICITY_E0 - Non-Hispanic,ETHNICITY_E1 - Hispanic,PAYER_P0 - Non-Medicaid,PAYER_P1 - Medicaid,ATOPIC_False,ATOPIC_True
0,1,2006,0.093087,3.164956,NaN,NaN,NaN,NaN,NaN,NaN,...,1,0,0,0,1,0,0,1,1,0
1,2,1994,12.232717,18.880219,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,1,0,1,0,1,0
2,3,2006,0.010951,6.726899,NaN,NaN,NaN,NaN,1.002053,1.002053,...,0,0,0,0,0,1,1,0,0,1
3,4,2004,2.398357,9.111567,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,1,1,0,1,0
4,5,2006,0.013689,6.193018,NaN,NaN,NaN,NaN,NaN,NaN,...,1,0,0,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333195,333196,2006,0.736482,7.449692,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,1,0,1,0,1,0
333196,333197,2006,0.019165,6.984257,NaN,NaN,NaN,NaN,NaN,NaN,...,1,0,0,0,1,0,0,1,0,1
333197,333198,2006,0.443532,7.405886,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,1,0,1,0,1,0
333198,333199,2006,0.013689,7.017112,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,0,1,0,1,0,0,1
333199,333200,2006,0.019165,3.014374,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,1,0,1,0,1,0

In [10]:
#there a lot of Nan so lets fill them
newdf = newdf.fillna(newdf.mean())
newdf.isnull().sum()
newdf

,SUBJECT_ID,BIRTH_YEAR,AGE_START_YEARS,AGE_END_YEARS,SHELLFISH_ALG_START,SHELLFISH_ALG_END,FISH_ALG_START,FISH_ALG_END,MILK_ALG_START,MILK_ALG_END,...,RACE_R1 - Black,RACE_R2 - Asian or Pacific Islander,RACE_R3 - Other,RACE_R4 - Unknown,ETHNICITY_E0 - Non-Hispanic,ETHNICITY_E1 - Hispanic,PAYER_P0 - Non-Medicaid,PAYER_P1 - Medicaid,ATOPIC_False,ATOPIC_True
0,1,2006,0.093087,3.164956,8.724076,6.431159,6.62869,5.337775,3.287408,2.473547,...,1,0,0,0,1,0,0,1,1,0
1,2,1994,12.232717,18.880219,8.724076,6.431159,6.62869,5.337775,3.287408,2.473547,...,0,0,0,0,1,0,1,0,1,0
2,3,2006,0.010951,6.726899,8.724076,6.431159,6.62869,5.337775,1.002053,1.002053,...,0,0,0,0,0,1,1,0,0,1
3,4,2004,2.398357,9.111567,8.724076,6.431159,6.62869,5.337775,3.287408,2.473547,...,0,0,0,1,0,1,1,0,1,0
4,5,2006,0.013689,6.193018,8.724076,6.431159,6.62869,5.337775,3.287408,2.473547,...,1,0,0,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333195,333196,2006,0.736482,7.449692,8.724076,6.431159,6.62869,5.337775,3.287408,2.473547,...,0,0,0,0,1,0,1,0,1,0
333196,333197,2006,0.019165,6.984257,8.724076,6.431159,6.62869,5.337775,3.287408,2.473547,...,1,0,0,0,1,0,0,1,0,1
333197,333198,2006,0.443532,7.405886,8.724076,6.431159,6.62869,5.337775,3.287408,2.473547,...,0,0,0,0,1,0,1,0,1,0
333198,333199,2006,0.013689,7.017112,8.724076,6.431159,6.62869,5.337775,3.287408,2.473547,...,0,0,1,0,1,0,1,0,0,1
333199,333200,2006,0.019165,3.014374,8.724076,6.431159,6.62869,5.337775,3.287408,2.473547,...,0,0,0,0,1,0,1,0,1,0

In [11]:
#There are still Nan Value in TreeNut-ALG-END 
newdf.pop("TREENUT_ALG_END")
#Lets remove the feature that works with the previous one
newdf.pop("TREENUT_ALG_START")
#Remove Useless feature
newdf.pop("BIRTH_YEAR")


newdf.isnull().sum()

SUBJECT_ID                             0
AGE_START_YEARS                        0
AGE_END_YEARS                          0
SHELLFISH_ALG_START                    0
SHELLFISH_ALG_END                      0
FISH_ALG_START                         0
FISH_ALG_END                           0
MILK_ALG_START                         0
MILK_ALG_END                           0
SOY_ALG_START                          0
SOY_ALG_END                            0
EGG_ALG_START                          0
EGG_ALG_END                            0
WHEAT_ALG_START                        0
WHEAT_ALG_END                          0
PEANUT_ALG_START                       0
PEANUT_ALG_END                         0
SESAME_ALG_START                       0
SESAME_ALG_END                         0
WALNUT_ALG_START                       0
WALNUT_ALG_END                         0
PECAN_ALG_START                        0
PECAN_ALG_END                          0
PISTACH_ALG_START                      0
PISTACH_ALG_END                        0
ALMOND_ALG_START                       0
ALMOND_ALG_END                         0
BRAZIL_ALG_START                       0
BRAZIL_ALG_END                         0
HAZELNUT_ALG_START                     0
HAZELNUT_ALG_END                       0
CASHEW_ALG_START                       0
CASHEW_ALG_END                         0
ATOPIC_DERM_START                      0
ATOPIC_DERM_END                        0
ALLERGIC_RHINITIS_START                0
ALLERGIC_RHINITIS_END                  0
ASTHMA_START                           0
ASTHMA_END                             0
FIRST_ASTHMARX                         0
LAST_ASTHMARX                          0
NUM_ASTHMARX                           0
GENDER_S0 - Male                       0
GENDER_S1 - Female                     0
RACE_R0 - White                        0
RACE_R1 - Black                        0
RACE_R2 - Asian or Pacific Islander    0
RACE_R3 - Other                        0
RACE_R4 - Unknown                      0
ETHNICITY_E0 - Non-Hispanic            0
ETHNICITY_E1 - Hispanic                0
PAYER_P0 - Non-Medicaid                0
PAYER_P1 - Medicaid                    0
ATOPIC_False                           0
ATOPIC_True                            0
dtype: int64

In [12]:
#Lets start prediciting food allerggies!
x=newdf.iloc[:,:-1].values
y=newdf.iloc[:,-1:].values
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [13]:
from sklearn.linear_model import LogisticRegression
sk_model=LogisticRegression()

In [14]:
# train the model
sk_model.fit(x_train, y_train)

c:\python\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [15]:
#get accuracy of the model
def get_accuracy(y_predict,y_test):
    correctly_classified=0
    for count in range(np.size(y_predict)):
        if y_test[count]==y_predict[count]:
            correctly_classified=correctly_classified+1
    acc=(correctly_classified/len(y_predict))*100
    print("accuracy on testset={:.2f}".format(acc))
    return acc

In [16]:
y_predict=sk_model.predict(x_test)

In [17]:
accur=get_accuracy(y_predict,y_test)

accuracy on testset=90.93